<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FinalProject.mappers.VehicleMapper">
  <resultMap id="BaseResultMap" type="com.example.FinalProject.entity.Vehicle">
    <id column="vin" jdbcType="INTEGER" property="vin" />
    <result column="vid" jdbcType="VARCHAR" property="vid" />
    <result column="battery_type" jdbcType="VARCHAR" property="batteryType" />
    <result column="total_mileage" jdbcType="INTEGER" property="totalMileage" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    vin, vid, battery_type, total_mileage, `status`
  </sql>
  <select id="selectByExample" parameterType="com.example.FinalProject.entity.VehicleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vehicle
    where vin = #{vin,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vehicle
    where vin = #{vin,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.FinalProject.entity.VehicleExample">
    delete from vehicle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="vin" keyProperty="vin" parameterType="com.example.FinalProject.entity.Vehicle" useGeneratedKeys="true">
    insert into vehicle (vid, battery_type, total_mileage, 
      `status`)
    values (#{vid,jdbcType=VARCHAR}, #{batteryType,jdbcType=VARCHAR}, #{totalMileage,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="vin" keyProperty="vin" parameterType="com.example.FinalProject.entity.Vehicle" useGeneratedKeys="true">
    insert into vehicle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        vid,
      </if>
      <if test="batteryType != null">
        battery_type,
      </if>
      <if test="totalMileage != null">
        total_mileage,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        #{vid,jdbcType=VARCHAR},
      </if>
      <if test="batteryType != null">
        #{batteryType,jdbcType=VARCHAR},
      </if>
      <if test="totalMileage != null">
        #{totalMileage,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.FinalProject.entity.VehicleExample" resultType="java.lang.Long">
    select count(*) from vehicle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vehicle
    <set>
      <if test="record.vin != null">
        vin = #{record.vin,jdbcType=INTEGER},
      </if>
      <if test="record.vid != null">
        vid = #{record.vid,jdbcType=VARCHAR},
      </if>
      <if test="record.batteryType != null">
        battery_type = #{record.batteryType,jdbcType=VARCHAR},
      </if>
      <if test="record.totalMileage != null">
        total_mileage = #{record.totalMileage,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vehicle
    set vin = #{record.vin,jdbcType=INTEGER},
      vid = #{record.vid,jdbcType=VARCHAR},
      battery_type = #{record.batteryType,jdbcType=VARCHAR},
      total_mileage = #{record.totalMileage,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.FinalProject.entity.Vehicle">
    update vehicle
    <set>
      <if test="vid != null">
        vid = #{vid,jdbcType=VARCHAR},
      </if>
      <if test="batteryType != null">
        battery_type = #{batteryType,jdbcType=VARCHAR},
      </if>
      <if test="totalMileage != null">
        total_mileage = #{totalMileage,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where vin = #{vin,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.FinalProject.entity.Vehicle">
    update vehicle
    set vid = #{vid,jdbcType=VARCHAR},
      battery_type = #{batteryType,jdbcType=VARCHAR},
      total_mileage = #{totalMileage,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER}
    where vin = #{vin,jdbcType=INTEGER}
  </update>
</mapper>